<<<<<<< HEAD
<%= @game.current_turn.name %> attacked <%= @game.current_opponent.name %>

<%= @game.player_1.name %>: <%= @game.player_1.hit_points %>hp
<%= @game.player_2.name %>: <%= @game.player_2.hit_points %>hp

<form action="/switch-turns" method='post'>
  <input type='submit' value='OK'>
</form>
=======
<%= @player_1_name %> attacked <%= @player_2_name %>
>>>>>>> 1a2558bfe51428dd6a492500163f110ca1ace7e9
