<center>
<h1><%= Game.instance.player_1.name %> vs. <%= Game.instance.player_2.name %></h1>
<br>

<h3><%= Game.instance.player_1.name %>: <%= Game.instance.player_1.hit_points %>hp</h3>

<h3><%= Game.instance.player_2.name %>: <%= Game.instance.player_2.hit_points %>hp</h3>
<br>
<h3>It's <%=Game.instance.current_turn.name%>'s turn!</h3>
<br>
<h3>Attacks:</h3>
<form action="/attack" method="post">
  <input type='submit' value='Tackle!'>
</form>

<form action="/fire-ball" method="post">
  <input type='submit' value='Fire-Ball!'>
</form>

<form action="/death-punch" method="post">
  <input type='submit' value='Death-Punch!'>
</form>

<% if Game.instance.current_turn.hit_points != 60 %>
 <h3>Heal yourself:</h3>
 <form action="/heal" method="post">
  <input type='submit' value='Heal!'>
 </form>
<% end %>
</center>
